<div class="container__big__card">
  <div class="photo__big_card">
    <img 
      src="https://testing-angular.com/assets/img/code-coverage-flickr-search.png"
      alt="">
  </div>
  <div class="title__big__card">
    <a href="">
      Saiu uma nova versão do Angular	
    </a>
  </div>
  <div class="description__big__card">
    <a href="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Aut, autem officiis optio nulla necessitatibus sed voluptatibus fugit! 
    </p>
  </a>
  </div>
</div>