.container__content {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

}



.content__cover > img { 
  width: 500px;
  border-radius: 5px;
  border: 5px solid rgb(144, 144, 144);
  min-width: 500px;
  height: 300px;
}
.content__description {
  margin-top: 1rem;
}

.content__description > p  { 
  color: rgb(190, 190, 190);
}