<div class="container__home">
  <app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id={{posts[0].id}}
      photoCover={{posts[0].photoCover}}
      cardTitle={{posts[0].title}}
      cardDescription={{posts[0].description}}
    > </app-big-card>
  </div>
  <div 
    class="articles__other"
  >
    <app-small-card
     *ngFor="let post of posts | slice:1:4"
      id={{post.id}}
      cardTitle={{post.title}}
      photoCover={{post.photoCover}}
    > </app-small-card>
  
    
  </div>
</div>
</div>

