<div class="container__home">
  <app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://picsum.photos/1000/500"
      cardTitle="Saiu a nova versão do angular"
      cardDescription="lorem"
    > </app-big-card>
  </div>
  <div class="articles__other">
    <app-small-card
      id="2"
      cardTitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit."
      photoCover="https://picsum.photos/1000/500"
    > </app-small-card>
    <app-small-card
      cardTitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit."
      photoCover="https://picsum.photos/1000/500"
    > </app-small-card>
    <app-small-card
      cardTitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit."
      photoCover="https://picsum.photos/1000/500"
    > </app-small-card>
  </div>
</div>
</div>

